<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="image/logo.ico">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
    <link href='https://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.2/js/toastr.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script src="js/menu.js"></script>
    <script src="js/cart.js"></script>
    <script src="js/banner.js"></script>
    <script>
        window.onload = function() {
            loadMenu();
            loadAllCart();
            productLqCart();
            loadBanner();
        }
    </script>
</head>

<body>
    <div id="menu" >

    </div>

    <div class="content contentcart">
        <div class="bannerhot1">

        </div>
        <div class="row cartbds">
            <div class="col-lg-8 col-md-12 col-sm-12 col-12 collistcart">
                <div class="listcart">
                    <span class="cartname">GIỎ HÀNG</span>
                    <span class="slcarts">(<span id="slcart">1</span>) Sản phẩm</span>

                    <div class="cartres">
                        <table class="table tablecart">
                            <tr>
                                <th>Sản phẩm</th>
                                <th>Đơn giá</th>
                                <th style="text-align: center;">Số lượng</th>
                                <th style="width: 100px;">Tổng tiền</th>
                            </tr>
                            <tbody id="listcartDes">
                                <tr>
                                    <td>
                                        <a href=""><img class="imgprocart" src="image/pro.webp"></a>
                                        <div class="divnamecart">
                                            <a href="" class="nameprocart">Áo Polo Thể Thao Áo Polo Thể Thao Trẻ Em In Cậu Bé Đá Bóng</a>
                                            <p class="sizecart">Trắng / 8</p>
                                        </div>
                                    </td>
                                    <td>
                                        <p class="boldcart">299.000đ</p>
                                    </td>
                                    <td>
                                        <div class="clusinp"><button class="cartbtn"> + </button>
                                            <input class="inputslcart">
                                            <button class="cartbtn"> - </button></div>
                                    </td>
                                    <td>
                                        <div class="tdpricecart">
                                            <p class="boldcart">598.000đ</p>
                                            <p class="delcart"><i class="fa fa-trash-o facartde"></i></p>
                                        </div>
                                    </td>
                                </tr>

                            </tbody>
                        </table>


                        <table id="tablemobilecart" class="table tablecartmobile">
                            <tr>
                                <td>
                                    <a href=""><img class="imgprocmobile" src="image/pro.webp"></a>
                                </td>
                                <td class="tdinforcart">
                                    <a href="" class="nameprocmobile">Áo Polo Thể Thao Áo Polo Thể Thao Trẻ Em In Cậu Bé Đá Bóng</a>
                                    <p class="sizecmobile">Trắng / 8</p>
                                    <div class="clusinpmobile"><button class="cartbtn"> + </button>
                                        <input class="inputslcart">
                                        <button class="cartbtn"> - </button></div>
                                </td>
                                <td class="tdinforcart">
                                    <i class="fa fa-trash-o facartde cartdels"></i>
                                    <p class="boldcart pricecmobile">598.000đ&ThinSpace;</p>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 col-12 collistcart">
                <div class="ttcart">
                    <div class="tongdon">
                        <span class="tds">Tổng đơn: </span><span class="tonggiatien" id="tonggiatien">299.000đ</span>
                        <button onclick="location.href='checkout'" class="btnthanhtoan">Thanh toán</button>
                    </div>
                    <p class="freeship">MIỄN PHÍ VẬN CHUYỂN VỚI ĐƠN HÀNG TỪ 498K</p>
                    <p>Mọi đơn hàng trên hệ thống sẽ được giảm giá phí vận chuyển chỉ còn <span class="buypl">20.000 VND</span></p>
                </div>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-12 col-12 colgoiycart">
                <div class="cartgoiy">
                    <p class="tieudegy">Gợi ý sản phẩm</p>
                    <div class="row" id="listproductgycart">
                        <div class="col-lg-3 col-md-3 col-sm-6 col-6">
                            <a href="" class="linkpro">
                                <div class="singlepro">
                                    <div class="productsold"><span class="reviewsp">Đã bán: 250</span></div>
                                    <img src="image/sp1.webp" class="imgpro">
                                    <span class="proname">Women's Casual Pants With Waist Belt</span>
                                    <span class="proprice">499.000đ</span>
                                    <div class="listimgpro">
                                        <div class="divimgsmpro"><img class="imgsmpro" src="image/sp2.webp"></div>
                                        <div class="divimgsmpro"><img class="imgsmpro" src="image/sp3.webp"></div>
                                        <div class="divimgsmpro"><img class="imgsmpro" src="image/sp4.webp"></div>
                                        <div class="divimgsmpro"><img class="imgsmpro" src="image/sp5.webp"></div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-6">
                            <a href="" class="linkpro">
                                <div class="singlepro">
                                    <div class="productsold"><span class="reviewsp">Đã bán: 250</span></div>
                                    <img src="image/sp1.webp" class="imgpro">
                                    <span class="proname">Women's Casual Pants With Waist Belt</span>
                                    <span class="proprice">499.000đ</span>
                                    <div class="listimgpro">
                                        <div class="divimgsmpro"><img class="imgsmpro" src="image/sp2.webp"></div>
                                        <div class="divimgsmpro"><img class="imgsmpro" src="image/sp3.webp"></div>
                                        <div class="divimgsmpro"><img class="imgsmpro" src="image/sp4.webp"></div>
                                        <div class="divimgsmpro"><img class="imgsmpro" src="image/sp5.webp"></div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="footer"></div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="js/carousel.js"></script>

</html>