<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="image/logo.ico">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
    <link href='https://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.2/js/toastr.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <!-- <script src="js/menu.js"></script>
    <script>
        window.onload = function(){
        }
    </script> -->
</head>
<body>
    <div id="menu" >
        <div id="topmenu" class="topmenu container-fluid row">
            <div class="col-sm-2"><a class="linktop"><img src="image/logo.svg"></a></div>
            <div class="col-sm-6">
                <div class="searchmenu">
                    <input class="imputsearchmenu" placeholder="Tìm kiếm">
                    <button class="btnsearchmenu"><i class="fa fa-search"></i></button>
                </div>
            </div>
            <div class="col-sm-4 addrmenu">
                <a href="" class="amens pointermenu"><i class="amens fa fa-map-marker gvs"> Xem địa chỉ</i></a>
                <a href="" class="amens pointermenu"><i class="amens fa fa-phone"> 098123672</i></a>
            </div>
        </div>
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand navbar-toggler" href="#"><img src="image/logo.svg"></a>
                <span>
                    <i data-bs-toggle="modal" data-bs-target="#modalsearch" class="fa fa-search navbar-toggler"></i>
                    <i class="fa fa-shopping-bag navbar-toggler"> <span class="slcartmenusm">0</span></i>
                </span>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link menulink" href="#">Trang chủ</a></li>
                    <li class="nav-item"><a class="nav-link menulink" href="#">Nam</a></li>
                    <li class="nav-item"><a class="nav-link menulink" href="#">Nữ</a></li>
                    <li class="nav-item"><a class="nav-link menulink" href="#">Trẻ em</a></li>
                    <li class="nav-item"><a class="nav-link menulink" href="#">Bộ sưu tập</a></li>
                    <li class="nav-item"><a class="nav-link menulink" href="#">Đồng phục</a></li>
                    <li class="nav-item"><a class="nav-link menulink" href="#">Về yody</a></li>
                    <li class="nav-item"><a class="nav-link menulink" href="#">Blog</a></li>
                </ul>
                <div class="d-flex">
                    <a href="" class="pointermenu gvs"><i class="fa fa-user"> Đăng ký/ Đăng nhập</i></a>
                    <!-- <span class="nav-item dropdown pointermenu gvs">
                        <i class="fa fa-user" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Tài khoản</i>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Tài khoản</a></li>
                            <li><a class="dropdown-item" href="#">Đăng xuất</a></li>
                        </ul>
                    </span> -->
                    <a href="" class="pointermenu"><i class="fa fa-shopping-bag"><span class="slcartmenu">0</span> Giỏ hàng</i></a>
                </div>
            </div>
        </nav>
    </div>
    
    <div class="content">
        
    </div>

    <div id="footer">
            <footer class="text-center text-lg-start text-muted">
            <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
              <div class="me-5 d-none d-lg-block"><span>Theo dõi chúng tôi tại:</span></div>
              <div>
                <a href="" class="me-4 text-reset"><i class="fab fa-facebook-f"></i></a>
                <a href="" class="me-4 text-reset"><i class="fab fa-twitter"></i></a>
                <a href="" class="me-4 text-reset"><i class="fab fa-google"></i></a>
                <a href="" class="me-4 text-reset"><i class="fab fa-instagram"></i></a>
                <a href="" class="me-4 text-reset"><i class="fab fa-linkedin"></i></a>
                <a href="" class="me-4 text-reset"><i class="fab fa-github"></i></a>
              </div>
            </section>
            <section class="">
              <div class=" text-center text-md-start mt-5">
                <div class="row mt-3">
                  <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4"><i class="fas fa-gem me-3"></i>Male fashion</h6>
                    <p>
                      Chúng tôi cung cấp dịch vụ thời trang giá rẻ cho nam, nữ giới trẻ với phong cách bắt kịp trend hiện nay'+
                    </p>
                  </div>
                  <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">Sản phẩm</h6>
                    <p><a href="#!" class="text-reset">Uy tín</a></p>
                    <p><a href="#!" class="text-reset">Chất lượng</a></p>
                    <p><a href="#!" class="text-reset">Nguồn gốc rõ ràng</a></p>
                    <p><a href="#!" class="text-reset">Giá rẻ</a></p>
                  </div>
                  <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">Dịch vụ</h6>
                    <p><a href="#!" class="text-reset">24/7</a></p>
                    <p><a href="#!" class="text-reset">bảo hành 6 tháng</a></p>
                    <p><a href="#!" class="text-reset">free ship</a></p>
                    <p><a href="#!" class="text-reset">lỗi 1 đổi 1</a></p>
                  </div>
                  <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">Liên hệ</h6>
                    <p><i class="fas fa-home me-3"></i> Hà nội, Việt Nam</p>
                    <p><i class="fas fa-envelope me-3"></i> shop@gmail.com</p>
                    <p><i class="fas fa-phone me-3"></i> + 01 234 567 88</p>
                    <p><i class="fas fa-print me-3"></i> + 01 234 567 89</p>
                  </div>
                </div>
              </div>
            </section>
          </footer>
    </div>

    <div class="modal fade" id="modalsearch" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-fullscreen-xxl-down modelreplay">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Tìm kiếm sản phẩm</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="searchmenu searchsm">
                    <input class="imputsearchmenu" placeholder="Tìm kiếm">
                    <button class="btnsearchmenu"><i class="fa fa-search"></i></button>
                </div>
            </div>
          </div>
        </div>
      </div>
</body>
</html>